<form action="/admin/categories" class="d-flex flex-row mt-3">
  <div>
    <label for="inputCategory" class="visually-hidden">Category</label>
    <input type="text" class="form-control" id="inputCategory" placeholder="Category">
  </div>
  <div class="mx-4">
    <button type="submit" class="btn btn-success mb-3">Create</button>
  </div>
</form>
